html {
  font-size: 15px;
}

body {
  font-family: "Spartan", sans-serif;
  background: url("images/bg-pattern-top-mobile.svg") left 0 top 0 no-repeat, url("images/bg-pattern-bottom-mobile.svg") right 0 bottom 0 no-repeat;
}

main {
  margin: 4.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main #headings-and-ratings {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main #headings-and-ratings #headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
main #headings-and-ratings #headings > * {
  text-align: center;
}
main #headings-and-ratings #headings h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #502050;
}
main #headings-and-ratings #headings p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #937b92;
}
main #headings-and-ratings #ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
main #headings-and-ratings #ratings .rating-card {
  background: #f7f2f7;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main #headings-and-ratings #ratings .rating-card__stars {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
main #headings-and-ratings #ratings .rating-card__stars > img {
  width: max-content;
}
main #headings-and-ratings #ratings .rating-card p {
  text-align: center;
  font-weight: 700;
  color: #502050;
  font-size: 0.9rem;
}
main #testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
main #testimonials .testimonial-card {
  background: #502050;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.87rem;
  height: max-content;
}
main #testimonials .testimonial-card__header {
  display: flex;
  align-items: center;
}
main #testimonials .testimonial-card__header img {
  border-radius: 100%;
  width: 2.7rem;
  margin-right: 1.5rem;
}
main #testimonials .testimonial-card__header-name {
  color: #f7f2f7;
  font-weight: 700;
}
main #testimonials .testimonial-card__header-verified {
  margin-top: 0.5rem;
  color: #ee68a4;
}
main #testimonials .testimonial-card__testimony {
  color: #f7f2f7;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  body {
    background: url("images/bg-pattern-top-desktop.svg") left 0 top 0 no-repeat, url("images/bg-pattern-bottom-desktop.svg") right 0 bottom 0 no-repeat;
  }

  main {
    margin: 6rem 7rem 3rem 7rem;
    gap: 4rem;
  }
  main #headings-and-ratings {
    flex-direction: row;
  }
  main #headings-and-ratings > * {
    flex: 1;
  }
  main #headings-and-ratings #headings {
    justify-content: flex-start;
    gap: 1rem;
  }
  main #headings-and-ratings #headings > * {
    text-align: left;
    width: 95%;
  }
  main #headings-and-ratings #headings h1 {
    font-size: 2.5rem;
  }
  main #headings-and-ratings #headings p {
    font-size: 1rem;
  }
  main #headings-and-ratings #ratings .rating-card {
    padding: 1rem 2rem;
    max-width: 26.1rem;
  }
  main #headings-and-ratings #ratings .rating-card:nth-child(2) {
    margin-left: 10%;
  }
  main #headings-and-ratings #ratings .rating-card:nth-child(3) {
    margin-left: 20%;
  }
  main #testimonials {
    flex-direction: row;
    gap: 2rem;
  }
  main #testimonials .testimonial-card {
    gap: 2rem;
  }
  main #testimonials .testimonial-card__testimony {
    color: #f7f2f7;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  main #testimonials .testimonial-card:nth-child(2) {
    margin-top: 1.5rem;
  }
  main #testimonials .testimonial-card:nth-child(3) {
    margin-top: 3rem;
  }
}
@media (min-width: 1024px) {
  main {
    margin: 8.75rem 11rem 5.25rem 11rem;
  }
  main #headings-and-ratings #headings > * {
    text-align: left;
    width: 85%;
  }
  main #headings-and-ratings #headings h1 {
    font-size: 3rem;
  }
  main #headings-and-ratings #ratings .rating-card {
    flex-direction: row;
    gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
